#preview-action{float:right; margin-top:-24px;}
#preview-action > .button, #save-action > .button {margin:3px;}
#preview-action > .button-smicon {padding-top: 3px; line-height: 1em;}
#preview-action > .button-smicon > * {display: inline; vertical-align: middle;}
#preview-action > .button-smicon > p {line-height: 1.4em;}
#preview-action > .button-smicon > img {margin:2px;}
#sitemorse_sci_icon{vertical-align:middle;margin-right:1px; margin-top:-4px;}

#scidiags {position:absolute; border:4px solid black; border-top:0;
  z-index:99999999; min-width:180px; min-height:20px; width:240px; height:158px;
  background-color:white; padding:0; overflow:hidden;}
#scidiags a {cursor:pointer;}
#sciiframe {height:0px; width:0px;}
#scidiagssummary {background-color:white;}
#scidiagscontents {height:100%; width:100%; background-color:white;}
#scidiagssummary ul, ul.scilist {list-style:square; margin:6px 6px 6px 24px;}
#scititlebar {width:100%; color:white; font-size:10px; background-color:black;
  height:18px; padding:2px;}
#sciicons {float:right;}
#sciicons > div {height:16px; width:16px; display:inline-block; cursor:pointer;}
#scimin {background: url("images/ui-icons_ffffff_256x240.png")
  black -16px -208px no-repeat;}
#scimax {background: url("images/ui-icons_ffffff_256x240.png")
  black 0 -208px no-repeat;}
#sciclose {background: url("images/ui-icons_ffffff_256x240.png")
  black -32px -208px no-repeat;}

.scipass{color:#33CD99;}
.scifail{color:#EE736C;}

.sciinputinline {font-size:0.9em; padding:0 2px; margin: 1px 6px; display: inline-block;
  width:110px;}
.sci-post-preview-container{text-align: left; margin:8px 0; cursor:pointer; float:left; clear:both;
    margin-top:-20px; margin-bottom:27px;
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799,1px 0 1px #006799,0 1px 1px #006799,-1px 0 1px #006799;
    height: 30px;
    line-height: 28px;
    padding: 0 12px 2px;
    font-size: 13px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;}
.sci-post-preview-container > *{display:inline; vertical-align:middle;}
#sci-post-toggle-container{display:none;}
#sitemorse_preview_iframe_container{margin: 55px 160px 0 20px; height:100%;}
.termsList{list-style:decimal;}
.termsList li{margin:16px 0 6px 18px; line-height:1.2em;}
.sitemorse_score {
	display: block;
	width: 100px;
	height: 100px;
	color: #FFF;
	text-align: center;
	border-radius: 55px;
	border: 5px solid #FFF;
}
.sitemorse_score div{
	margin: 19px auto;
	letter-spacing: -0.1em;
}
.sitemorse_score .first {
	font-size: 46px;
}
.sitemorse_score .last {
	font-size: 15px;
}
.sitemorse_score.good {
	background-color: #33cd99;
}
.sitemorse_score.medium {
	background-color: #ff923c;
}
.sitemorse_score.poor {
	background-color: #ee736d;
}

#sitemorse_preview_sectionid{margin-top:20px;}

#sitemorse_title{display: inline-block !important;}
.inside .scibuttons{text-align:center;}
.inside .scibutton{display:inline-block; margin:12px 30px 4px 30px; cursor:pointer;}
.inside .scibutton p {font-weight:bold;}

#sitemorse_licence_key{vertical-align:top; margin-top:12px;}
#sitemorse_connection_icon{background-repeat:no-repeat;
  height:50px; width:50px; display:inline-block; margin-left:8px;}
.sitemorse_connection_pass{background-image:url("images/icon/tick.png");}
.sitemorse_connection_load{background-image:url("images/icon/loading.gif");}
.sitemorse_connection_fail{background-image:url("images/icon/save.png");}
