#sciLoading {
  height:210px; width:956px;
  position: absolute; top: 25%; left: 43%;
  margin-left:-420px; margin-top: 45px;
  border-radius:12px;
  background:url("images/sci-loading.gif") no-repeat;
}
#darkcover{position:fixed; top:0; left:0;
  background-repeat:no-repeat;
  background-position:99% 40px;
  background-color:rgb(25,25,25); z-index:9999;
  background-color:rgba(25,25,25,0.7); height:100%; width:100%;}
#sciConfirm{
	height:210px; width:956px;
	position: absolute; top: 25%; left: 43%;
	margin-left:-420px; margin-top: 45px;
	border-radius:12px;
	background:url("images/sm-assessment-complete.png") no-repeat;
}
#sciSnapshot{
	cursor:pointer;
	position: absolute;width:825px; height:160px;
}
#sciPublish{
	cursor:pointer;
	position: absolute; left:826px; width:130px; height:160px;
}
#sciConfirm .passIcon, #sciConfirm .failIcon{
	position: absolute;
	top:82px; left:100px;
	height:18px; width:18px; font-size:12px;
	background-color:#33cd99;
	border-radius:50%;
	color:white;
	text-align: center;
	line-height: 18px;
}
#sciConfirm .brandIcon{
	left:214px;
}
#sciConfirm .phoneIcon{
	left:328px;
}
#sciConfirm .codequalityIcon{
	left:443px;
}
#sciConfirm .seoIcon{
	left:556px;
}
#sciConfirm .performanceIcon{
	left:670px;
}
#sciConfirm .spellingIcon{
	left:784px;
}
#sciConfirm .passIcon:before{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	content:'\2714';
}
#sciConfirm .failIcon:before{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	content:'\2716';
}
#sciConfirm .failIcon{
	background-color:#ee736d;
}
#sciConfirm h2{color:white; text-align:left;
	background: #889DB8 url(images/icon/sitemorse-blue.png) no-repeat 11px;
	margin:0 0 15px 0;
	font-size: 15px;
	text-transform: initial;
	font-weight: 600;
	color: rgba(255,255,255,0.93);
	padding: 12px 16px 12px 46px;
	border-top-left-radius:12px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	border-top-right-radius:12px;}
#sciConfirm ul, #sciConfirm p{margin:18px;}
#sciConfirm ul li, #sciConfirm p{font-weight: bold;}
#sciConfirm button {
	border: none;
	margin: 8px;
	padding: 9px;
	color: white;
	border-radius: 6px;
	cursor: pointer;
}
#sciConfirm .prioritiesTable{
  width:100%;
  border-collapse:collapse;
  border-left:2px solid #F0F0F0;
  border-right:2px solid #F0F0F0;
  color:#555555;
  margin-bottom: 12px;
}
#sciConfirm .prioritiesTable th, #sciConfirm .prioritiesTable td{
  border:1px solid #DDDDDD;
	padding: 4px 6px;
}
#sciConfirm .prioritiesTable th{
  background-color:#F0F0F0;
	line-height: 1.8em;
}
#sciConfirm #sciConfirmPublish {
  background: #869DB9;
	margin-right:492px;
}
.sciConfirmPriorityIcon{
	display:inline-block;
	color:white;
	background-color:#F26D6B;
	border-radius:50%;
	height:18px;
	width:17px;
	text-align: center;
	line-height: 1.3em;
	font-weight: normal;
	border: 2px solid white;
	margin-right: 6px;
}
.sciConfirmPriorityIcon::after{
	content:"!";
}
#sciConfirmCancel {
  background: #3BC997;
}
.sciMinorCancel{
  float:right;
  margin-top: -64px;
  margin-right: -14px;
  padding: 0;
  cursor: pointer;
}
#sciConfirmAssessment {
  background: #3BC997;
}
