#sciloading {height:210px; width:840px;
  position: absolute; top: 25%; left: 50%;
  margin-left:-420px; margin-top: 45px;
  border-radius:12px;
  background:url("images/full-loading.gif") no-repeat;}
#darkcover{position:fixed; top:0; left:0;
  background-repeat:no-repeat;
  background-position:99% 40px;
  background-color:rgb(25,25,25); z-index:9999;
  background-color:rgba(25,25,25,0.7); height:100%; width:100%;}
